.q-cotainer {
  overflow-y: scroll;
  display: flex;
  gap: 20px;
  padding: 50px;

  .left-content {
    width: 70%;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 20px;

    .title {
      font-size: 30px;
      font-weight: 600;
    }
    .q-content {
      .q-image {
        display: flex;
        justify-content: center;
        img {
          width: 350px;
          height: 250px;
        }
      }
      .question {
        padding-left: 20px;
        font-size: 20px;
        font-weight: 500;
      }
      .answers {
        padding-left: 20px;
        margin-bottom: 30px;
      }
    }
  }
  .right-content {
    width: 30%;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    .main-countdown {
      display: flex;
      justify-content: center;
      border-bottom: 1px dotted gray;
      padding-bottom: 33px;
      margin-bottom: 20px;
    }
    .main-question {
      display: flex;
      gap: 25px;
      flex-wrap: wrap;
      align-items: center;
      .question {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 1px solid rgb(168, 168, 168);
        cursor: pointer;

        &:hover {
          color: red;
        }

        &.selected {
          background-color: rgb(170, 166, 166);
        }

        &.clicked {
          color: red;
        }
      }
    }
  }
}
